<div class="container">


    <div class="col-xl-12">
        <div class="row">
            <div class="para mx-auto d-block">
                <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
                    <a href="#">
                        <span class="notify-badge">6</span>
                        <img class="mx-auto d-block img-responsive" src="assets/images/client/icons/schedule.png">
                    </a>
                    <h3 class="text-center">Classes</h3>
                </div>
            </div>



            <div class="para mx-auto d-block">
                <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
                    <a href="#">
                        <span class="notify-badge">6</span>
                        <img class="mx-auto d-block img-responsive" src="assets/images/client/icons/class.png">
                    </a>
                    <h3 class="text-center">Meetups</h3>
                </div>
            </div>

            <div class="para mx-auto d-block">
                <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
                    <a href="#">
                        <span class="notify-badge">6</span>
                        <img class="mx-auto d-block img-responsive" src="assets/images/client/icons/meeting.png">

                    </a>
                    <h3>Payments</h3>
                </div>
            </div>

        </div>
    </div>
</div>